#nutin-nav, #weight-nav, #house-nav, #sport-nav, #personal-nav{
    color:black;
}

h3{
    text-align: center;
    font-weight: 400;
}

.table-align{
    text-align: center;
}

.nutritien-intake-last-row{
    border-top: 4px;
    border-bottom: black;
}

.td-center, .th-add-new, .th-save{
    text-align: center;
}

#ideal-row, #minimum-row, #ideal-row-sport{
    color: green;
}

.unit-of-measure{
    font-weight: 400;
}

